= form_for(@municipio, :validate => true) do |f|
  
  .clearfix
    = label_tag :nombre
    .input
      = f.text_field :nombre
  
  .cleafix
    = label_tag :pais_id
    .input
      = select_tag :pais_id, %{<option>Seleccione</option>#{options_from_collection_for_select(Pais.all,'id','nombre',@municipio.provincia_id.blank? ? 0 : @municipio.pais.id)}}.html_safe
  %br
  .cleafix.provincia
    = label_tag :provincia_id
    .input
      = f.select :provincia_id, @municipio.provincia_id.blank? ? [] : Provincia.where('pais_id = ?', @municipio.pais.id).collect{|t| [t.nombre,t.id]}, :include_blank=>'Seleccione'
  %hr
    .input
      = f.submit :class=>'btn primary'


:javascript
  $(document).ready(function(){
    //cambio_pais();
    $("#pais_id").change(cambio_pais);

  });

  function cambio_pais(){
    jQuery.ajax({
       type:'get',
       url: "#{busca_provincias_municipios_path}?id="+$('#pais_id').val()
     });
  }