.content
  .page-header
    %h1 Municipios
  .row-fluid
    .span14
      %table.table.table-striped{:width=>'100%'}
        %tr
          %th Nombre
          %th Provincia
          %th Pais
          %th
          
        - @municipios.each do |municipio|
          %tr
            %td
              =link_to municipio.nombre, municipio
              = link_to content_tag(:i, nil, {:class => "icon-pencil", :title => "Editar"}),edit_municipio_path(municipio)
              = link_to content_tag(:i, nil, {:class => "icon-remove", :title => "Eliminar"}),municipio , :confirm => '¿Está Seguro?', :method => :delete
            %td= municipio.provincia_nombre
            %td= municipio.pais_nombre
            %td
              =# link_to image_tag('iconos/32x32/zoom_in.png'), municipio, :title => 'Ver', :class => 'qtip'
              =# link_to image_tag('iconos/32x32/edit_page.png'), edit_municipio_path(municipio), :title => 'Editar', :class => 'qtip'
              =# link_to image_tag('iconos/32x32/remove_from_database.png'),municipio , :confirm => '¿Está Seguro?', :method => :delete, :title => 'Eliminar', :class => 'qtip'
      %hr
      .clearfix
        .input
          = link_to 'Nuevo Municipio', new_municipio_path, :class => 'btn btn-primary'