.content
  .page-header
    %h1 Propuestas
  .row
    .span14
      = form_tag (buscar_propuestas_path, :remote => true) do
        %table
          %tr
            %td Pais
            %td
              = select_tag :pais_id, ("<option>Seleccione</option>"+options_from_collection_for_select(Pais.all,'id','nombre')).html_safe
          %tr.provincia
            %td Provincia
            %td
              = select_tag :provincia_id
          %tr.municipio
            %td Muncipio
            %td
              = select_tag :municipio_id
          %tr.barrio
            %td Barrio
            %td
              = select_tag :barrio_id
              = hidden_field_tag :estre, nil
          %tr
            %td{:colspan=>"2",:style=>"text-align:right;"}
              = image_submit_tag('search_blue.png',:style=>"width:32px;") + 'Buscar'
      #busqueda_periodos        
      

        
            
:javascript
  
  $(document).ready(function(){
    $('#pais_id').change(cambio_pais);
    $("#provincia_id").change(cambio_provincia);
    $("#municipio_id").change(cambio_municipio);

    
  })
  function cambio_pais(){
    jQuery.ajax({
      complete: function(){
                  $('.municipio select').html('<option>Seleccione</option>');
                  $('.barrio select').html('<option>Seleccione</option>');
                },
      type:'get',
      url: "#{busca_provincias_municipios_path}?id="+$('#pais_id').val()
     });
  }

  function cambio_provincia(){
    jQuery.ajax({
       complete:$('.barrio select').html('<option>Seleccione</option>'),
       type:'get',
       url: "#{busca_municipios_barrios_path}?id="+$('#provincia_id').val()
     });
  }

  function cambio_municipio(){
    jQuery.ajax({
       type:'get',
       url: "#{busca_barrios_ciudadanos_path}?id="+$('#municipio_id').val()
     });
  }
