.content
  .page-header
    %h1 Propuesta
  .row-fluid
    .span14
    
      %b Descripcion:
      = @propuesta.descripcion 

      %br
    
      %b Propuesta por:
      = link_to "#{@propuesta.user.ciudadano_nombre}" , @propuesta.user.ciudadano if @propuesta.user.ciudadano

      %br
    
      
 
      %hr

 

      = link_to 'Editar', edit_propuesta_path(@propuesta),:class=>'btn btn-info'
      
      = link_to 'Volver', propuestas_path ,:class=>'btn default'
