<%= form_for(@ciudadano) do |f| %>
  <% if @ciudadano.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ciudadano.errors.count, "errore") %> en los siguentes campos:</h2>

      <ul>
      <% @ciudadano.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dni %><br />
    <%= f.text_field :dni %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :apellido %><br />
    <%= f.text_field :apellido %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :direccion %><br />
    <%= f.text_field :direccion %>
  </div>
  <div class="field">
    <%= f.label :telefono %><br />
    <%= f.text_field :telefono %>
  </div>
  <div class="field">
    <%= f.label :barrio_id %><br />
    <%= f.select :barrio_id, Barrio.all.collect{|t| [t.nombre, t.id]}, :include_blank=>true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
