.content
  .page-header
    %h1 Cuidadanos
  .row-fluid
    .span14
      %table.table.table-striped{:width=>'100%'}
        %tr
          %th Apellido y Nombre
          %th DNI
          %th Email
          %th
          
        - @ciudadanos.each do |ciudadano|
          %tr
            %td
              = link_to "#{ciudadano.apellido}, #{ciudadano.nombre}", ciudadano
              = link_to content_tag(:i, nil, {:class => "icon-pencil", :title => "Editar"}),edit_ciudadano_path(ciudadano)
              = link_to content_tag(:i, nil, {:class => "icon-remove", :title => "Eliminar"}),ciudadano , :confirm => '¿Está Seguro?', :method => :delete
            %td= ciudadano.dni
            %td= ciudadano.email
            %td
             
      %hr
      %center
        = will_paginate @ciudadanos, :renderer => BootstrapPagination::Rails 
      .clearfix
        .input
          = link_to 'Nuevo ciudadano', new_ciudadano_path, :class => 'btn btn-primary'



