.content
  .page-header
    %h1 Cuidadano
  .row-fluid
    .span14

      %b DNI:
      = @ciudadano.dni

      %br

      %b Nombre:
      = @ciudadano.nombre
      
      %br

      %b Apellido:
      = @ciudadano.apellido

      %br

      %b Email:
      = @ciudadano.email

      %br

      %b Direccion:
      = @ciudadano.direccion

      %br

      %b Telefono:
      = @ciudadano.telefono

      %br
      - if current_user.administrador? || current_user.gobierno?
        %b Password:
        = @ciudadano.password
      



      %hr
      = link_to 'Editar',  edit_ciudadano_path(@ciudadano),:class=>'btn btn-info'
      
      = link_to 'Volver',ciudadanos_path  ,:class=>'btn default'

