<p id="notice"><%= notice %></p>

<p>
  <b>Dni:</b>
  <%= @ciudadano.dni %>
</p>

<p>
  <b>Nombre:</b>
  <%= @ciudadano.nombre %>
</p>

<p>
  <b>Apellido:</b>
  <%= @ciudadano.apellido %>
</p>

<p>
  <b>Email:</b>
  <%= @ciudadano.email %>
</p>

<p>
  <b>Direccion:</b>
  <%= @ciudadano.direccion %>
</p>

<p>
  <b>Telefono:</b>
  <%= @ciudadano.telefono %>
</p>

<p>
  <b>Barrio:</b>
  <%= @ciudadano.barrio_nombre %>
</p>


<%= link_to 'Edit', edit_ciudadano_path(@ciudadano) %> |
<%= link_to 'Back', ciudadanos_path %>
