.content
  .page-header
    %h1 Usuarios
  .row-fluid
    .span14
      %table.table.table-striped{:width=>'100%'}
        %tr
          %th Nombre
          %th e-mail
          %th Tipo
          
        - @usuarios.each do |usuario|
          %tr
            %td
              
              = link_to "#{usuario.nombre}", "#"
              
            %td= usuario.email
            %td= usuario.tipo
           
      %hr
      %center
        = will_paginate @usuarios, :renderer => BootstrapPagination::Rails 
      .clearfix
        .input
          = link_to 'Nuevo Usuario', new_user_path, :class => 'btn btn-primary'