.content
  .page-header
    %h1 Alta de Nuevo Usuario

  .row
    .span16
        

      - @user.password = @user.password_confirmation = nil
      = form_for @user , :validate => true, :url => users_path do |f|
        .clearfix
          = label_tag 'usuario'
          .input
            = f.text_field :login
        .clearfix
          = label_tag 'name', 'Nombre y Apellido'
          .input
            = f.text_field :name
        .clearfix
          = label_tag 'email'
          .input
            = f.text_field :email
        .clearfix
          = label_tag 'password'
          .input
            = f.password_field :password
        .clearfix
          = label_tag 'password_confirmation', 'Confirm Password'
          .input
            = f.password_field :password_confirmation
        .clearfix
          = label_tag 'tipo', 'Tipo Usuario'
          .input
            = f.select :tipo, '<option>Seleccione</option>'+options_for_select([["Administrador", "administrador"], ["Provincia", "provincia"], ["Municipio", "municipio"]]) 
        %hr
        .input
          = submit_tag 'Guardar', :class => "btn primary"

:javascript
  $(document).ready(function(){
    $.validator.addMethod("validar", function(value, element, params) {
      return ((/^"|administrador|provincia|municipio|"]$/).test(value));
    },'Solo se permiten caracteres alfabeticos');
    $('form').validate({
        //debug: true,
        rules: {
          "user[tipo]": {
            required: true,
            regexp: /^"|administrador|provincia|municipio|"]$/
          }
        }
      })
  })