.content
  .page-header
    %h1 Alta de Nuevo Usuario

  .row-fluid
    .span16
        

      - @user.password = @user.password_confirmation = nil
      = form_for @user , :validate => true, :url => users_path do |f|
        .clearfix
          = label_tag 'usuario'
          .input
            = f.text_field :login
        .clearfix
          = label_tag 'name', 'Nombre y Apellido'
          .input
            = f.text_field :name
        .clearfix
          = label_tag 'email'
          .input
            = f.text_field :email
        .clearfix
          = label_tag 'password'
          .input
            = f.password_field :password
        .clearfix
          = label_tag 'password_confirmation', 'Confirm Password'
          .input
            = f.password_field :password_confirmation
        .clearfix
          = label_tag 'tipo', 'Tipo Usuario'
          .input
            =# f.select :tipo, '<option>Seleccione</option>'+options_for_select([["Administrador", "administrador"], ["Provincia", "provincia"], ["Municipio", "municipio"]]) 
            /   button type="button" value="0" class="btn" data-toggle="button">Public</button>
            /   <button type="button" value="1" class="btn" data-toggle="button">Private</button>
            / </div>

            .btn-group{:data=>{:toggle=>"buttons-radio"}}
              
              %button.btn{:value=>"administrador"}Administrador
              %button.btn{:value=>"provincia"}Provincia
              %button.btn{:value=>"municipio"}Municipio

            = f.hidden_field :tipo, :value=>nil 
              
        %hr
        .input
          = submit_tag 'Guardar', :class => "btn btn-primary"

:javascript
  $(document).ready(function(){
   
    $('button').click(function(e){
      e.preventDefault();
      var button = $(this);
      $("#user_tipo").val($(this).val());
      if(button.val() == hidden.val()) {
        button.addClass('active');
      }
    });
  });
    
