<div class="content">
  <div class="page-header">
    <h1>Per&iacute;odos Electorales</h1>
  </div>
  <div class="row-fluid">
    <div class="span14">
      <table class="table table-striped" width="100%">
        <tr>
                <th>Descripcion</th>
                <th>Fecha inicio</th>
                <th>Fecha fin</th>
                <th>Pa&iacute;s</th>
                <th>Provincia</th>
                <th>Municipio</th>
                <th>Barrio</th>
        </tr>

      <% @periodo_electorales.each do |periodo_electoral| %>
        <tr>
                <td>
                  <%= link_to periodo_electoral.descripcion, periodo_electoral %>
                  <%= link_to content_tag(:i, nil, {:class => "icon-pencil", :title => "Editar"}),edit_periodo_electoral_path(periodo_electoral) %>
                  <%= link_to content_tag(:i, nil, {:class => "icon-file", :title => "Proyectos"}),show_proyecto_periodo_electoral_path(periodo_electoral) if periodo_electoral.vigente?  %>
                  <%= link_to content_tag(:i, nil, {:class => "icon-signal", :title => "Resultados"}), show_resultados_periodo_electoral_path(periodo_electoral), :title => 'Resultados' if periodo_electoral.finalizado? %>
                  <%= link_to content_tag(:i, nil, {:class => "icon-remove", :title => "Eliminar"}),periodo_electoral , :confirm => '¿Está Seguro?', :method => :delete %>
                </td>
                <td><%= format_fecha periodo_electoral.fecha_inicio %></td>
                <td><%= format_fecha periodo_electoral.fecha_fin %></td>
                <td><%= periodo_electoral.pais_nombre %></td>
                <td><%= periodo_electoral.provincia_nombre %></td>
                <td><%= periodo_electoral.municipio_nombre %></td>
                <td><%= periodo_electoral.barrio_nombre %></td>

        </tr>
      <% end %>
      </table>
      <hr>
      <div class="clearfix">
        <div class="input">
          <%= link_to 'Nuevo Período Electoral', new_periodo_electoral_path,:class => 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
</div>
  
  


       

