<div class="content">
    <div class="page-header">
        <h1>Periodo electoral</h1> 
    </div>
    <div class="row">
        <div class="span14">
          <p>
            <b>Descripci&oacute;n:</b>
            <%= @periodo_electoral.descripcion %>
          </p>
          <p>
            <b>Fecha inicio:</b>
            <%= format_fecha @periodo_electoral.fecha_inicio %>
          </p>
          <p>
            <b>Fecha fin:</b>
            <%= format_fecha @periodo_electoral.fecha_fin %>
          </p>
          <p>
            <b>Pa&iacute;s:</b>
            <%= @periodo_electoral.pais_nombre %>
          </p>
          <p>
            <b>Provincia:</b>
            <%= @periodo_electoral.provincia_nombre %>
          </p>
          <p>
            <b>Municipio:</b>
            <%= @periodo_electoral.municipio_nombre %>
          </p>
          <p>
            <b>Barrio:</b>
            <%= @periodo_electoral.barrio_nombre %>
          </p>
        </div>
    </div>
    <hr>

    <div class="page-header">
        <h1>Anteproyectos</h1> 
    </div>

    <div class="row">
        <div class="span14">
          <fieldset>
            <legend>Agregar Anteproyecto</legend>
            <%= form_tag(nuevo_proyecto_periodo_electoral_path(@periodo_electoral),:remote=>true) do  %>
              <table>
                <tr>
                  <th>Nombre:</th>
                  <td><%= text_field_tag "anteproyecto[nombre]" %></td>
                </tr>
                <tr>
                  <th>Descripci&oacute;n: </th>
                  <td><%= text_area_tag "anteproyecto[descripcion]" %></td>
                </tr>
              </table>
              <%= submit_tag 'Agregar' %>
    
            <% end %>
          </fieldset>
          <fieldset>
            <legend>Listado de Anteproyectos</legend>
            <div id="listado_proyectos">
              <table id="tabla_proyectos" class="table table-striped">
                <tr>
                  <th>Nombre</th>
                  <th>Descripci&oacute;n</th>
                  <th></th>
                </tr>
                <% @periodo_electoral.anteproyectos.each do |proyecto| %>
                <tr id="proyecto_<%= "#{proyecto.id}" %>">
                  <td><%= proyecto.nombre %></td>
                  <td><%= proyecto.descripcion[0..20] %></td>
                  <td><%= link_to image_tag('iconos/32x32/remove_from_database.png'), eliminar_proyecto_periodo_electorales_path(:id=>proyecto.id), :confirm => '¿Esta seguro?',:title => 'Eliminar', :class => 'qtip',:remote=>true %></td>
                </tr>
                <% end %>
              </table>
            </div>
          </fieldset>
        </div>
    </div>

    <%#= link_to 'Editar', edit_periodo_electoral_path(@periodo_electoral),:class=>'btn btn-info' %> 
    <%= link_to 'Volver', periodo_electorales_path,:class=>'btn default' %>
</div>

