<%= form_for(@anteproyecto) do |f| %>
  <% if @anteproyecto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@anteproyecto.errors.count, "error") %> prohibited this anteproyecto from being saved:</h2>

      <ul>
      <% @anteproyecto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="clearfix">
    <%= label_tag :nombre %>
    <div class="input">
      <%= f.text_field :nombre %>
    </div>
  </div>
  <div class="clearfix">
    <%= label_tag :descripcion %>
    <div class="input">
      <%= f.text_area :descripcion %>
    </div>
  </div>
  <div class="clearfix">
    <%= label_tag :periodo_electoral_id %>
    <div class="input">
      <%= f.number_field :periodo_electoral_id %>
    </div>
  </div>
 <hr>
  <div class="input">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
