<div class="content">
  <div class="page-header">
    <h1>Anteproyectos</h1>
  </div>
  <div class="row">
    <div class="span14">
      <table class="table table-striped" width="100%">
        <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Periodo electoral</th>
                <th></th>
        </tr>

      <% @anteproyectos.each do |anteproyecto| %>
        <tr>
                <td><%= anteproyecto.nombre %></td>
                <td><%= anteproyecto.descripcion %></td>
                <td><%= anteproyecto.periodo_electoral_id %></td>
                <td>
            <%= link_to image_tag('iconos/32x32/zoom_in.png'), anteproyecto, :title => 'Ver', :class => 'qtip' %>
            <%= link_to image_tag('iconos/32x32/edit_page.png'), edit_anteproyecto_path(anteproyecto), :title => 'Editar', :class => 'qtip' %>
            <%= link_to image_tag('iconos/32x32/remove_from_database.png'), anteproyecto, :confirm => '¿Esta seguro?', :method => :delete,:title => 'Eliminar', :class => 'qtip' %>
          </td>
        </tr>
      <% end %>
      </table>
      <hr>
      <div class="clearfix">
        <div class="input">
          <%= link_to 'Nuevo Anteproyecto', new_anteproyecto_path,:class => 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
</div>
  
  


       

