.content
  .page-header
    %h1 Per&iacute;odos de Propuestas
  .row-fluid
    .span14
      %table.table.table-striped{:width=>'100%'}
        %tr
          %th Descripcion
          %th Fecha inicio
          %th Fecha fin
          %th Pais
          %th Provincia
          %th Municipio
          %th Barrio

          
        - @periodo_propuestas.each do |periodo_propuesta|
          %tr
            %td
              =link_to periodo_propuesta.descripcion, periodo_propuesta
              - if current_user.administrador?
                = link_to content_tag(:i, nil, {:class => "icon-pencil", :title => "Editar"}),edit_periodo_propuesta_path(periodo_propuesta)
                = link_to content_tag(:i, nil, {:class => "icon-plus", :title => "Propuestas"}),propuestas_periodo_propuestas_path(:id=>periodo_propuesta.id)
                = link_to content_tag(:i, nil, {:class => "icon-remove", :title => "Eliminar"}),periodo_propuesta , :confirm => '¿Está Seguro?', :method => :delete
            %td= format_fecha periodo_propuesta.fecha_inicio 
            %td= format_fecha periodo_propuesta.fecha_fin 
            %td= periodo_propuesta.pais_nombre 
            %td= periodo_propuesta.provincia_nombre
            %td= periodo_propuesta.municipio_nombre
            %td= periodo_propuesta.barrio_nombre 
            
      %hr
      .clearfix
        .input
          = link_to 'Nuevo Periodo propuesta', new_periodo_propuesta_path, :class => 'btn btn-primary'
