.content
  .page-header
    %h1 Nueva Propuesta
  .row-fluid
    .span14

      = form_for(@propuesta, :validate => true) do |f|
        
        .clearfix
          = label_tag :descripcion,"Descripción"
          .input
            = f.text_field :descripcion
            = f.hidden_field :user_id, :value => current_user.id
            = f.hidden_field :periodo_propuesta_id, :value => @periodo_propuesta.id
        
        %hr
          .input
            = f.submit :class => 'btn btn-primary'
  
      = link_to 'Volver', propuestas_path, :class => 'btn default'
