.content
  .page-header
    %h1 Propuestas del Per&iacute;odo "#{@periodo_propuesta.descripcion}"
  .row-fluid
    .span14
      %table.table.table-striped{:width=>'100%'}
        %tr
          %th Descripci&oacute;n
          %th Usuario
         
          %th
          
        - @propuestas.each do |propuesta|
          %tr
            %td
              
              =link_to propuesta.descripcion, propuesta
            
              = link_to content_tag(:i, nil, {:class => "icon-pencil", :title => "Editar"}),edit_propuesta_path(propuesta) if current_user.administrador? || current_user.id == propuesta.user_id
             
              = link_to content_tag(:i, nil, {:class => "icon-remove", :title => "Eliminar"}),propuesta , :confirm => '¿Está Seguro?', :method => :delete if current_user.administrador? || current_user.id == propuesta.user_id
            %td= propuesta.user.ciudadano_nombre 
            %td
              = link_to image_tag('iconos/32x32/zoom_in.png'), propuesta, :title => 'Ver', :class => 'qtip'
              = link_to image_tag('iconos/32x32/edit_page.png'), edit_propuesta_path(propuesta), :title => 'Editar', :class => 'qtip'
              = link_to image_tag('iconos/32x32/remove_from_database.png'),propuesta , :confirm => 'Are you sure?', :method => :delete, :title => 'Eliminar', :class => 'qtip'
      %hr
      .clearfix
        .input
          = link_to 'Nueva propuesta', nueva_propuesta_periodo_propuestas_path(:id=>@periodo_propuesta.id), :class => 'btn btn-primary'
