.content
  .page-header
    %h1 Per&iacute;odo de Propuesta
  .row
    .span14
    
      %b Descripci&oacute;n:
      = @periodo_propuesta.descripcion 

      %br
    
      %b Fecha inicio:
      = format_fecha @periodo_propuesta.fecha_inicio 

      %br
    
      %b Fecha fin:
      = format_fecha @periodo_propuesta.fecha_fin 

      %br

      %b Pa&iacute;s:
      = @periodo_propuesta.pais_nombre

      %br

      %b Provincia:
      = @periodo_propuesta.provincia_nombre      

      %br

      %b Municipio:
      = @periodo_propuesta.municipio_nombre
    
      %br
    
      %b Barrio:
      = @periodo_propuesta.barrio_nombre 

      %br
      
 
      %hr

 

      = link_to 'Editar', edit_periodo_propuesta_path(@periodo_propuesta),:class=>'btn btn-info'
      
      = link_to 'Volver', periodo_propuestas_path ,:class=>'btn default'
