<div class="content">
    <div class="page-header">
        <h1>Periodo de consenso</h1> 
    </div>
    <div class="row">
        <div class="span14">
          <p>
            <b>Descripci&oacute;n:</b>
            <%= @periodo_consenso.descripcion %>
          </p>
          <p>
            <b>Fecha inicio:</b>
            <%= format_fecha @periodo_consenso.fecha_inicio %>
          </p>
          <p>
            <b>Fecha fin:</b>
            <%= format_fecha @periodo_consenso.fecha_fin %>
          </p>
          <p>
            <b>Pa&iacute;s:</b>
            <%= @periodo_consenso.pais_nombre %>
          </p>
          <p>
            <b>Provincia:</b>
            <%= @periodo_consenso.provincia_nombre %>
          </p>
          <p>
            <b>Municipio:</b>
            <%= @periodo_consenso.municipio_nombre %>
          </p>
          <p>
            <b>Barrio:</b>
            <%= @periodo_consenso.barrio_nombre %>
          </p>
        </div>
    </div>
    <hr>
    <%= link_to 'Editar', edit_periodo_consenso_path(@periodo_consenso),:class=>'btn btn-info' %> 
    <%= link_to 'Volver', periodo_consensos_path,:class=>'btn default' %>
</div>

