.content
  .page-header
    %h1 Pais
  .row-fluid
    .span14

      %b Nombre:
      = @pais.nombre

      %hr

      %h3 Listado de provincias
      %table.table.table-striped{:width=>'100%'}
        %tr
          %th Nombre
          %th 
          
        - @pais.provincias.each do |provincia|
          %tr

            %td
              =link_to provincia.nombre, provincia
              = link_to content_tag(:i, nil, {:class => "icon-pencil", :title => "Editar"}),edit_provincia_path(provincia)
              = link_to content_tag(:i, nil, {:class => "icon-remove", :title => "Eliminar"}),provincia , :confirm => '¿Está Seguro?', :method => :delete
            %td
              

      = link_to 'Editar', edit_pais_path(@pais),:class=>'btn btn-info'
      
      = link_to 'Volver', paises_path ,:class=>'btn default'