.content
  .page-header
    %h1 Barrios
  .row-fluid
    .span14
      %table.table.table-striped{:width=>'100%'}
        %tr
          %th Nombre
          %th Municipio
          %th Provincia
          %th Pais
          %th
          
        - @barrios.each do |barrio|
          %tr
            %td
              =link_to barrio.nombre, barrio
              = link_to content_tag(:i, nil, {:class => "icon-pencil", :title => "Editar"}),edit_barrio_path(barrio)
              = link_to content_tag(:i, nil, {:class => "icon-remove", :title => "Eliminar"}),barrio , :confirm => '¿Está Seguro?', :method => :delete
              
            %td= barrio.municipio_nombre
            %td= barrio.provincia_nombre
            %td= barrio.pais_nombre
            %td

      %hr
      .clearfix
        .input
          = link_to 'Nuevo Barrio', new_barrio_path, :class => 'btn btn-primary'