= form_for(@provincia, :validate => true) do |f|

  .clearfix
    
    = label_tag :nombre
    .input
      = f.text_field :nombre
  .cleafix
    = label_tag :pais_id
    .input
      = f.select :pais_id, Pais.all.collect{|p| [p.nombre,p.id]}, :include_blank=>'Seleccione'
  %hr
    .input
      = f.submit :class=>'btn btn-primary'