= form_for(@provincia, :validate => true) do |f|
  - if @provincia.errors.any?
    #error_explanation
      %h2
        = pluralize(@provincia.errors.count, "error")
       
      %ul
        - @provincia.errors.full_messages.each do |msg|
          %li= msg
  .clearfix
    
    = f.label :nombre
    .input
      = f.text_field :nombre
  .cleafix
    = f.label :pais_id
    .input
      = f.select :pais_id, Pais.all.collect{|p| [p.nombre,p.id]}, :include_blank=>'Seleccione'
  %hr
    .input
      = f.submit :class=>'btn primary'