.content
  .page-header
    %h1 Provincias
  .row
    .span14
      %table.zebra-striped{:width=>'100%'}
        %tr
          %th Pais
          %th Nombre
          %th 
          
        - @provincias.each do |provincia|
          %tr
            %td= provincia.pais_nombre
            %td= provincia.nombre
            %td
              = link_to image_tag('iconos/32x32/zoom_in.png'), provincia, :title => 'Ver', :class => 'qtip'
              = link_to image_tag('iconos/32x32/edit_page.png'), edit_provincia_path(provincia), :title => 'Editar', :class => 'qtip'
              = link_to image_tag('iconos/32x32/remove_from_database.png'),provincia , :confirm => 'Are you sure?', :method => :delete, :title => 'Eliminar', :class => 'qtip'
      %hr
      .clearfix
        .input
          = link_to 'Nueva Provincia', new_provincia_path, :class => 'btn primary'