<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @provincia.nombre %>
</p>

<p>
  <b>Pais:</b>
  <%= @provincia.pais_id %>
</p>


<%= link_to 'Edit', edit_provincia_path(@provincia) %> |
<%= link_to 'Back', provincias_path %>
