.well.sidebar-nav
  %ul.nav.nav-list
    -if current_user.administrador?
      %li.nav-header Administrador
      %li= link_to 'Paises', paises_path
      %li= link_to 'Provincias', provincias_path
      %li= link_to 'Municipios', municipios_path
      %li= link_to 'Barrios', barrios_path
      %li.divider
    
    -if current_user.administrador? || current_user.gobierno?
      %li.nav-header Propuesta
      %li= link_to 'Periodos de Propuestas', periodo_propuestas_path
      %li= link_to 'Periodos Electorales', periodo_electorales_path
