.container
  %a.brand{:href=>'/main'} S. E. C.

  %ul.nav
    -if current_user.administrador?
      %li.dropdown
        %a.dropdown-toggle{:href=> "#",:data=>{:toggle => 'dropdown'} } Usuarios
        %ul.dropdown-menu
          %li 
            = link_to 'Nuevo Usuario', new_user_path
          %li 
            = link_to 'Listado de Usuarios', users_path
            
    %li.dropdown
      %a.dropdown-toggle{:href=> "#","data-toggle".to_sym => 'dropdown' } Ciudadanos
      %ul.dropdown-menu
        %li 
          = link_to 'Nuevo Ciudadano', new_ciudadano_path            
        %li 
          = link_to 'Listado de Ciudadanos', ciudadanos_path            
           
  .pull-right
    .cerrar-session
      .btn-group.pull-right
        %a.btn.dropdown-toggle{:href=>'#', "data-toggle".to_sym=>"dropdown"}
          %i.icon-user
          = current_user.name
        %ul.dropdown-menu
          %li
            %a{:href => '/logout'} Cerrar Sesion
