!!!
%html
  %head
    %title Sondeo
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .topbar
      .fill
        - if current_user
          - if current_user.tipo == 'ciudadano'
            = render :partial => 'layouts/menu_cuidadanos'
          - if current_user.tipo == 'administrador'
            = render :partial => 'layouts/menu_admin'
    .container
      - unless flash[:error].blank?
        %br
        .alert-message.error
          %a.close{:href=>"javascript:cierra_mensaje();"} ×
          %p
            = flash[:error]

      - unless flash[:notice].blank?
        %br
        .alert-message.success
          %a.close{:href=>"javascript:cierra_mensaje();"} ×
          %p
            = flash[:notice]
              
      = yield


:javascript
  $(document).ready(function(){
    //$('.alert-message').delay(2000).fadeOut(400);
    //$(".topbar").dropdown();
    $('ul.nav').superfish();
    $('.qtip').tipTip();
  });
  function cierra_mensaje(){
    $('.alert-message').hide();
  }