!!!
%html
  %head
    %title Sondeo
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1.0"}
    %meta{:name=>"description", :content=>""}
    %meta{:name=>"author", :content=>""}
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          - if current_user
            - if current_user.ciudadano?
              = render :partial => 'layouts/menu_cuidadanos'
            - if current_user.administrador?
              = render :partial => 'layouts/menu_admin'
    

    .container-fluid
      .row-fluid
        .span3
          
            
          -if current_user.tipo == 'administrador'
            = render :partial => 'layouts/menu_administrador'
          .alert.alert-error{:style=>"#{ 'display:none' if flash[:error].blank?}"}
            %a.close{:href=>"javascript:cierra_mensaje();"} ×
            %p
              = flash[:error] unless flash[:error].blank?

          .alert.alert-success{:style=>"#{ 'display:none' if flash[:notice].blank?}"}
            %a.close{:href=>"javascript:cierra_mensaje();"} ×
            %p
              = flash[:notice] unless flash[:notice].blank?

        .span9
          .row-fluid
            .span9
              .container
              
                = yield

      %footer

:javascript
  $(document).ready(function(){
    $('.qtip').tipTip();
    $('.fancybox').fancybox();
    setTimeout(function() {$('.alert').hide(500);} , 5000);
  });

   jQuery('.submenu').hover(function () {
        jQuery(this).children('ul').removeClass('submenu-hide').addClass('submenu-show');
    }, function () {
        jQuery(this).children('ul').removeClass('.submenu-show').addClass('submenu-hide');
    }).find("a:first").append(" &raquo; ");

  function cierra_mensaje(){
    $('.alert').hide();
  }