!!!
%html
  %head
    %title Sondeo
    = stylesheet_link_tag    "application"
    = javascript_include_tag "jquery-1.6.2.min", "jquery.validate"
    = csrf_meta_tags
  %body
    .topbar
      .fill
        .container
          %a.brand Bienvenido
          
          
          .pull-right
            = form_tag session_path do 
              
                 
              = text_field_tag 'login', @login, :placeholder => "usuario", :class=>"input-small" 
  
              = password_field_tag 'password', nil , :placeholder => "password", :class=>"input-small" 

              =# label_tag 'remember_me', 'Remember me' 
              =# check_box_tag 'remember_me', '1', @remember_me 

              = submit_tag 'Iniciar', :class => "btn"
    .container
      .content  

          
        = yield
