!!!
%html
  %head
    %title Sondeo
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application_falso"
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand Bienvenido
                   
          .pull-right
            = form_tag session_path, :class=>'form-horizontal' do 
              
                 
              = text_field_tag 'login', @login, :placeholder => "usuario", :class=>"input-small" 
  
              = password_field_tag 'password', nil , :placeholder => "password", :class=>"input-small" 

              =# label_tag 'remember_me', 'Remember me' 
              =# check_box_tag 'remember_me', '1', @remember_me 

              = submit_tag 'Iniciar', :class => "btn"
    .container
      - unless flash[:error].blank?
        %br
        .alert.alert-error
          %a.close{:href=>"javascript:cerrar_alert()"} ×
          
          = flash[:error]

      - unless flash[:notice].blank?
        %br
        .alert.alert-success
          %a.close{:href=>"javascript:cerrar_alert()"} ×
          
          = flash[:error]
              
      = yield

:javascript
  $(document).ready(function(){
    $('.alert-message').delay(2000).fadeOut(400);
  });
  function cerrar_alert(){
    $('.alert').hide();
  }